**/__pycache__/*
solutions/exam
solutions
#solutions/ex02
#solutions/ex03
#solutions/ex04
solutions/ex05
solutions/ex06
solutions/ex07
solutions/ex08
solutions/ex09
solutions/ex10
solutions/ex11
solutions/ex12
solutions/ex13

#irlc/ex03
#irlc/ex04
#irlc/ex05
#irlc/ex06
#irlc/ex07
#irlc/ex08
#irlc/ex09
#irlc/ex10
#irlc/ex11
#irlc/ex12
#irlc/ex13
# irlc/tests/tests_week01.py
# irlc/tests/tests_week02.py
#irlc/tests/tests_week03.py
#irlc/tests/tests_week04.py
#irlc/tests/tests_week05.py
#irlc/tests/tests_week06.py
#irlc/tests/tests_week07.py
#irlc/tests/tests_week08.py
#irlc/tests/tests_week09.py
#irlc/tests/tests_week10.py
#irlc/tests/tests_week11.py
#irlc/tests/tests_week12.py
#irlc/tests/tests_week13.py

irlc/project2
irlc/project3
irlc/project3i
irlc/project0/fruit*_complete*.py

#irlc/exam/midterm2023a
#irlc/exam/midterm2023b


